<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunmo.back.dao.IQuestionbankDao">
    <resultMap id="map" type="questionbank">
        <id column="questionBank_id" property="questionBank_id"></id>
        <result column="question" property="question"></result>
        <result column="answer" property="answer"></result>
        <association property="options" column="options_id" javaType="options"  select="com.yunmo.back.dao.IOptionsDao.selectById"></association>
    </resultMap>
    <select id="questionBankList" resultMap="map">
        select * from questionbank ${ew.customSqlSegment}
    </select>
    <select id="pageList" resultMap="map">
        select * from questionbank ${ew.customSqlSegment}
    </select>

</mapper>
